<ion-header>
  <ion-toolbar>
    <ion-title>solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center">
    <ion-card>
      <ion-card-header color="warning">
        <ion-card-subtitle>Agrega un amigo</ion-card-subtitle>
        <ion-input type="text" placeholder="Escribe aqui el Correo Electronico"></ion-input>
        <ion-button (click)="enviar()" expand="block" fill="clear" shape="round">
          Enviar solicitud
        </ion-button>
      </ion-card-header>
    </ion-card>
  <ion-item>
    <ion-label>Solicitudes de amistad</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>javier@gmail.com</ion-label>
    <ion-button (click)="aceptar()" expand="block" color="tertiary">
      V
    </ion-button>
    <ion-button (click)="rechazar()" expand="block"  color="danger">
      X
    </ion-button>
  </ion-item>

</ion-content>
